@font-face {
  font-family: "Norse-Bold";
  src: url(./assets/fonts/IMFePIit28P.ttf) format('truetype');
}

:root {
  font-family: "Norse-Bold";
}

body {
  margin: 0;
  padding: 0;
}

.main-area {
  display: flex;
  flex: 1, 1, 0%;
}


/* LEFT SIDE STYLES */ 
.main-left-side {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: clamp(250px, 30vw, 30vw);
  background-image: url("./assets/ts-login-form.jpg");
  background-size: 30vw 100vh;
  background-repeat: no-repeat;
  background-color: #C2EFEB;

  color: #fff;
}

.main-left-side .ts-icon-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 2.7rem;

  /* background-color: rgba(0, 0, 0, 0.2);  */
  margin-top: 10px;

  /* border-style: solid;
  border-color: #fff;
  border-width: 0px 0px 3px 0px; */
}

.main-left-side a p {
  margin-left: -15px;
  margin-bottom: 10px;
}

.ts-icon-svg {
  margin-top: 30px;
  padding: 0px 0px 20px 0px;

  height: 120px;
}

.background-image-credit {
  align-self: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.background-image-credit a {
  text-decoration: none;
  color: #fff;
  text-decoration: underline;
}
/* END OF LEFT SIDE STYLES */ 

/* RIGHT SIDE STYLES */ 
.main-right-side {
  height: 100vh;
  width: clamp(400px, 70vw, 70vw);
  background-color: white;

  display: flex;
  flex-direction: column;
}

.main-right-side div {
  flex: 1 1 0%;
}

.right-side-top {
  display: flex;
  align-items: end;
  padding-left: 5%;
  padding-bottom: 20px;

  font-size: 1.2rem;
}

.main-right-side .right-side-content {
  flex: 1 1 0%;

  background-color: #550C18;
  color: #fff;

  box-shadow: 4px 5px 8px 3px #737572;
  padding-left: 100px;
  padding-bottom: 20px;

  /* border-width: 3px 0px 3px 0px;
  border-style: solid;
  border-color: rgb(0, 0, 0) ; */
}

/* SIGNUP FORM STYLES */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

fieldset {
  display: flex;
  border: 0;
  column-gap: 150px;
}

fieldset div label {
  font-weight: 700;
  display: flex;
  width: 250px;
}

input,
textarea,
select,
button {

  width: 300px;
  height: 40px;
  padding: 0;
  margin: 0;
  padding-left: 10px;

  box-sizing: border-box;
  border: 2px solid #7D6B91;
  border-radius: 2.5px 15px 2.5px 15px;
  box-shadow: 0px 5px 5px 1px #550C18;

  font-size: 1rem;
}

input:hover,
textarea:hover,
select:hover,
button:hover {
  opacity: 95%;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  background-color: rgb(241, 236, 227);
  outline: none;
}

input:invalid:not(:placeholder-shown):not(:focus) + span::before {
  position: absolute;
  content: "✖";
}
/* END OF SIGNUP FORM STYLES */

.right-side-footer {
  display: flex;
  flex-direction: column;

  padding-top: 30px;
  padding-left: 100px;

  font-size: 1.1rem;

}

.right-side-footer button {
  background-color: #ffffff;
  color: black;
  width: 250px;
  height: 55px;

  font-family: "Norse-Bold";
  font-size: 1.3rem;

  border-radius: 30px 5px 30px 5px;
  
}

.right-side-footer button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
/*END OF RIGHT SIDE STYLES */ 
